{% extends "base.html.jinja" %}
{% block title %}
    Księgi
{% endblock title %}

{% block content %}
<div class="spis_tresci">
    <ul>
        <li><a href="{{url_for('index')}}">Strona główna</a></li>
        <li><a href="{{url_for('księgi1')}}">Księga 1</a></li>
        <li><a href="{{url_for('księgi2')}}">Księga 2</a></li>
        <li><a href="{{url_for('księgi3')}}">Księga 3</a></li>
        <li><a href="{{url_for('księgi4')}}">Księga 4</a></li>
        <li><a href="{{url_for('księgi5')}}">Księga 5</a></li>           
        <li><a href="{{url_for('księgi6')}}">Księga 6</a></li>
        <li><a href="{{url_for('księgi7')}}">Księga 7</a></li>
        <li><a href="{{url_for('księgi8')}}">Księga 8</a></li>
        <li><a href="{{url_for('księgi9')}}">Księga 9</a></li>
        <li><a href="{{url_for('księgi10')}}">Księga 10</a></li>
        <li><a href="{{url_for('księgi11')}}">Księga 11</a></li>
        <li><a href="{{url_for('księgi12')}}">Księga 12</a></li>
        <li>.</li>
        <li>.</li>
    </ul>
</div>
{% endblock content%}